.cc-login
{
    width: 375px;
    text-align: center;
    margin: 0px auto;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.cc-login-row
{
    text-align: left;
}

.cc-login-photo
{
    position: absolute;
    top: 20px;
    left: 120px;
}

.cc-login-content
{
    position: relative;
    background: none repeat scroll 0% 0% rgb(238, 238, 238);
    padding: 95px 20px 20px;
    border-radius: 10px;
}

.cc-login-title
{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 22px;
    font-weight: normal;
}

.cc-login-wrapper
{
    background: none repeat scroll 0% 0% #f7f7f7;
    padding: 50px 29px 29px;
}

.cc-login-social
{
	margin: 0px 0px 0px;
	padding: 0px;
    text-align: left;
	list-style: none;
    display: inline-block;
}

.cc-login-social-item
{
	display: inline-block;
	margin-right: 10px;
}

.cc-login-text
{
	display: inline-block;
	vertical-align: top;
	margin: 0px;
}

.cc-login-text-p
{
	color: #000;
	font-size: 16px;
	font-weight: normal;
}

.cc-button
{
    border: 0px;
    background: #9EC412;
    width: 223px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 0px 1px 2px #333;
}

.cc-form-checkbox
{
    margin-left: 0px;
    margin-bottom: 15px;
    height: 22px;
    text-align: left;
}

.cc-form-submit
{
    margin-left: 0px;
    margin-bottom: 15px;
}