.cc-project
{
    background: #F1F1F1;
}
.cc-project-title
{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 46px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding-top: 10px;
}

.cc-project-itens
{
    list-style: none outside none;
    margin: 0;
    padding: 10px;
}

.cc-project-item
{
    border: 1px solid #CCCCCC;
    width: 224px;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 6px;
}

.cc-last.cc-project-item
{
    margin-right: 0px;
}

.cc-project-image
{
    border-bottom: 1px solid #CCCCCC;
}

.cc-project-img
{
    width: 224px;
	border: 0px;
	margin: 0px;
	padding: 0px;
	display: block;
}

.cc-project-name
{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border-bottom: 1px solid #CCCCCC;
    color: #333333;
    font-size: 18px;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    margin: 0;
    text-align: center;
    background: #FFF;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.cc-project-prize
{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
    margin: 0;
    text-align: center;
    background: #FFF;
}

.cc-project-end
{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border-bottom: 1px solid #CCCCCC;
    color: #222222;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    margin: 0;
    text-align: center;
    background: #FFF;
    position: relative;
}

.cc-project-end-bar
{
    background: #9EC412;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 70%;
    z-index: 1000;
}

.cc-project-end-text
{
    font-weight: bold;
    height: 50px;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 224px;
    z-index: 1001;
}

.cc-project-status
{
    height: 50px;
    line-height: 55px;
    text-align: center;
    background: #FFF;
}

.cc-project-show
{
	padding: 15px 0px;
}

.cc-project-top 
{

}

.cc-project-show .cc-project-image 
{
	width: 420px;
	border: 0px;
	display: inline-block;
	vertical-align: top;
}

.cc-project-show .cc-project-img 
{
	width: 400px;
}

.cc-project-submit 
{
	display: inline-block;
	width: 531px;
	vertical-align: top;
}

.cc-project-show .cc-project-title 
{
	font-size: 26px;
	font-weight: normal;
	padding: 0px;
	text-align: left;
	margin-bottom: 10px;
}

.cc-project-show .cc-project-prize 
{
	color: #0f77c8;
	font-size: 36px;
	text-align: left;
	margin: 0px 0px 20px 0px;
}

.cc-calendar 
{
	padding: 0px;
	margin: 0px 15px 0px 0px;
	display: inline-block;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.cc-calendar-title 
{
	background: #000;
	color: #FFF;
	text-align: center;
	font-weight: bold;
	padding: 2px 0px;
	border-radius: 5px 5px 0px 0px;
	font-size: 24px;
}

.cc-calendar-content
{
	text-align: center;
	margin: 0px;
	padding: 10px 40px;
	font-size: 30px;
	background: #eee;
	border-radius: 0px 0px 5px 5px;
}

.cc-project-submit-button
{
	font-size: 30px;
	display: inline-block;
	vertical-align: top;
}

.cc-project-submit-button .cc-button
{
	width: 400px;
}

.cc-progress
{
	margin-bottom: 20px;
}

.cc-progress-back
{
	overflow: hidden;
	height: 20px;
	border-radius: 3px;
	box-shadow: 2px 2px 2px #999;
	position: relative;
	border: 1px solid #999;
	background: #7db9e8; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkYjllOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzI5ODlkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZTU3OTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, #7db9e8 0%, #2989d8 50%, #1e5799 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#7db9e8), color-stop(50%,#2989d8), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #7db9e8 0%,#2989d8 50%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #7db9e8 0%,#2989d8 50%,#1e5799 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #7db9e8 0%,#2989d8 50%,#1e5799 100%); /* IE10+ */
	background: linear-gradient(to right, #7db9e8 0%,#2989d8 50%,#1e5799 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=1 ); /* IE6-8 */
}

.cc-progress-bar
{
	position: absolute;
	top: 0px;
	right: 0px;
	height: 20px;
	width: 50%;
	border-radius: 0px 3px 3px 0px;
	background: #FAFAFA;
}

.cc-progress-end
{
	width: 20px;
	height: 20px;
	position: absolute;
	background: #B6E0FF;
}

.cc-progress-idea
{
	left: 160px;
}

.cc-progress-video
{
	left: 330px;
}

.cc-progress-last
{
	left: 510px;
	border-radius: 0px 3px 3px 0px;
}

.cc-progress-date
{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	height: 22px;
	position: relative;
}

.cc-progress-date-idea
{
	position: absolute;
	margin-left: -58px;
}

.cc-progress-date-last
{
	position: absolute;
	right: 0px;
}

.cc-progress-title
{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	height: 22px;
	position: relative;
}

.cc-progress-title-idea
{
	position: absolute;
	margin-left: -16px;
}

.cc-progress-title-last
{
	position: absolute;
	right: 0px;
}

.cc-project-end-date-text
{
	margin: 0px 0px 10px;
	font-size: 20px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: left;
	font-weight: bold;
}

.cc-project-submit-area
{
	display: inline-block;
	vertical-align: top;
}

.cc-project-nav-itens 
{
	list-style: none;
	padding: 30px 0px 0px 0px;
	margin: 0px;
}

.cc-project-nav-item 
{
	display: inline-block;
	border: 1px solid #ccc;
	margin-right: 17px;
}

.cc-project-nav-item.cc-selected
{
	border-bottom: 1px solid #fff;
}

.cc-selected  .cc-project-nav-link
{
	color: #000;
	background: #fff;
}

.cc-project-nav-link 
{
	display: inline-block;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #FFF;
	font-size: 25px;
	background: #BCBCBC;
	width: 182px;
	height: 39px;
	line-height: 39px;
	text-align: center;
	text-decoration: none;
}

.cc-project-section
{
	margin: 0px;
	border: 1px solid #ccc;
	margin-top: -1px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	padding: 20px;
	font-size: 16px;
	color: #333;
}

.cc-project-brief-title
{
	font-size: 20px;
	font-weight: bold;
	color: #0f77c8;
	padding-bottom: 5px;
	margin-bottom: 15px;
	border-bottom: 1px solid #ccc;
}

 .cc-project-brief-detail
 {
	margin: 0px 0px 25px;
 }