.cc-errors
{
    color: #d44950;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 14px;
}

.cc-errors ul
{
    margin: 0px;
    list-style: none;
    padding: 0px 0px 20px 40px;
}

.cc-form-input
{
    height: 35px;
    margin-bottom: 15px;
}

.cc-form-input label, .cc-form-date label, .cc-form-select label, .cc-form-textarea label, .cc-form-multiple-label
{
    width: 150px;
    text-align: right;
    padding-right: 20px;
    line-height: 35px;
    display: block;
    height: 35px;
    float: left;
}

.cc-form-date label
{
    line-height: 18px;
}

.cc-form-input input
{
    display: inline-block;
    width: 250px;
    height: 21px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 21px;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.cc-form-textarea
{
    height: 83px;
    margin-bottom: 15px;
}

.cc-form-textarea textarea
{
    display: inline-block;
    width: 250px;
    height: 75px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 21px;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.cc-form-date
{
    height: 35px;
    margin-bottom: 15px;
}

.cc-form-date div
{
    display: inline-block;
}

.cc-form-date select
{
    height: 34px;
    display: inline-block;
    padding: 7px 28px;
    width: 111px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
}

.cc-form-checkbox
{
    margin-left: 168px;
    margin-bottom: 15px;
    height: 20px;
}

.cc-form-checkbox label
{
    font-size: 14px;
}

.cc-form-select
{
    margin-bottom: 15px;
    height: 35px;
}

.cc-form-select select
{
    height: 34px;
    display: inline-block;
    padding: 7px 11px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.cc-form-submit
{
    margin-left: 173px;
}

.cc-form-multiple-itens
{
    margin: 0 0 20px 170px;
    padding: 7px 0 0;
    list-style: none;
}