.cc-login-title
{
	color: #000;
	font-size: 46px;
	font-weight: bold;
	font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
	margin: 0px auto;
	text-align: center;
	width: 700px;
	padding: 10px 0px;
}

.cc-contact .cc-login-title
{
	width: 860px;
}

.cc-contact .cc-form-submit
{
	height: 50px;
	margin-bottom: 20px;
}

.cc-login-form
{
	background: #F1F1F1;
}

.cc-login-wrapper
{
	display: inline-block;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #000;
	font-size: 18px;
	font-weight: normal;
}

.cc-login-image
{
	display: inline-block;
	vertical-align: top;
}

.cc-contact-image
{
	display: inline-block;
	vertical-align: top;
	margin-left: 175px;
}

.cc-form-input
{
	height: 35px;
	margin-bottom: 15px;
}

.cc-form-input label, .cc-form-date label, .cc-form-select label, .cc-form-textarea label
{
	width: 150px;
	text-align: right;
	padding-right: 20px;
	line-height: 35px;
	display: block;
	height: 35px;
	float: left;
}

.cc-form-date label
{
	line-height: 18px;
}

.cc-form-input input
{
	display: inline-block;
	width: 250px;
	height: 21px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 21px;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.cc-form-textarea
{
	height: 83px;
	margin-bottom: 15px;
}

.cc-form-textarea textarea
{
	display: inline-block;
	width: 250px;
	height: 75px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 21px;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.cc-form-date
{
	height: 35px;
	margin-bottom: 15px;
}

.cc-form-date div
{
	display: inline-block;
}

.cc-form-date select
{
	height: 34px;
	display: inline-block;
	padding: 7px 28px;
	width: 111px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-right: 5px;
}

.cc-form-checkbox
{
	margin-left: 168px;
	margin-bottom: 15px;
	height: 20px;
}

.cc-form-checkbox label
{
	font-size: 14px;
}

.cc-form-select
{
	margin-bottom: 15px;
	height: 35px;
}

.cc-form-select select
{
	height: 34px;
	display: inline-block;
	padding: 7px 11px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.cc-form-submit
{
	margin-left: 173px;
}

.cc-login-social
{
	margin: 20px 0px 30px 173px;
	padding: 0px;
	list-style: none;
    display: inline-block;
}

.cc-login-social-item
{
	display: inline-block;
	margin-right: 10px;
}

.cc-login-text
{
	display: inline-block;
	vertical-align: top;
	margin: 20px 10px;
}

.cc-login-text-p
{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #000;
	font-size: 18px;
	font-weight: normal;
}