html,
body {
    margin:0;
    padding:0;
    height:100%;
}
#container {
    min-height:100%;
    position:relative;
}
#header {
    padding:0px;
}
#body {
    padding:0px;
    padding-bottom:70px;   /* Height of the footer */
}
#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:70px;   /* Height of the footer */
}

.cc-header-wrapper
{
	width: 955px;
	margin: 0px auto;
	padding: 10px 10px;
	text-align: left;
}

.cc-logo
{
    display: inline-block;
}

.cc-logo-img
{
	width: 189px;
	height: 79px;
}

.cc-layout-login
{
    float: right;
    padding: 37px 0px 0px 0px;
    font-family: Helvetica Neue, Helvetica, Liberation Sans, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #8B8B8B;
    width: 220px;
    text-align: right;
}

.cc-layout-login-link
{
	color: #8B8B8B;
	text-decoration: none;
    margin-right: 10px;
}

.cc-layout-login-button
{
    padding: 3px 8px;
    background: #1F1F1F;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}


.cc-layout-login-separator
{
	display: inline-block;
	width: 40px;
	text-align: center;
}

.cc-nav
{
    display: inline-block;
    vertical-align: top;
}

.cc-nav-itens
{
	padding: 8px 20px 0px 30px;
	margin: 0px auto;
    display: inline-block;
	list-style: none;
}

.cc-nav-item
{
	display: inline-block;
	font-family: Helvetica Neue, Helvetica, Liberation Sans, Arial, sans-serif;
	font-size: 22px;
}

.cc-nav-link
{
	color: #000;
	text-decoration: none;
    padding: 3px 5px;
}

.cc-nav-link:hover
{
    background: #F5DD3C;
}

.cc-footer
{
    background: #F7DB2F;

}

.cc-footer-wrapper
{
	width: 915px;
	margin: 0px auto;
	padding: 10px 20px;
	font-size: 14px;
	font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
}

.cc-footer-table-td
{
	width: 262px;
}

.cc-footer-link
{
	text-decoration: none;
	color: #000;
}

.cc-footer-link:hover
{
	text-decoration: underline;
}

.cc-ico-facebook
{
	display: inline-block;
	width: 22px;
	height: 22px;
	text-indent: -5000px;
	background-position: -22px 0;
	margin-right: 20px;
}

.cc-ico-twitter
{
	display: inline-block;
	width: 22px;
	height: 22px;
	text-indent: -5000px;
	margin-right: 20px;
}

.cc-ico-linkedin
{
	display: inline-block;
	width: 22px;
	height: 22px;
	text-indent: -5000px;
	background-position: -44px 0;
}

.cc-footer-social
{
	display: inline-block;
	vertical-align: top;
	padding-top: 10px;
}

.cc-footer-table
{
	display: inline-block;
}

.cc-message-title
{
	font-size: 36px;
	font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	color: #000;
	margin: 0px;
	padding: 20px;
}